
<div class="poster-container">
  <% @posters.each do |poster| %>
  <div class="p1-container">
    <div class="poster-1">

    </div>
    <div class="poster-title">
    <%= link_to poster.category, poster_path(poster)  %>
    </div>

    <% if current_user %>
      <div class="poster-options">
      <%= link_to 'edit', edit_poster_path(poster)  %>
      <%= link_to 'delete', poster_path(poster),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="options">
   <% if current_user %>
    <%= link_to 'add new poster category', new_poster_path %>
    <% end %>
  <%= link_to 'home', root_path  %>
</div>



