
<div class="form-poster">
<%= simple_form_for [ @theme ] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :information %>
  <%= f.input :pre_order %>
  <%= f.input :format %>
  <%= f.input :price, input_html: { min: '1', step: 'any' } %>
  <%= f.input :illustration, as: :file %>

  <%= f.submit "Save changes", class: "btn btn-primary" %>
<% end %>
</div>
