<div class="form-poster">

<%= simple_form_for [ @poster, @theme ] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :information %>
  <%= f.input :pre_order %>
  <%= f.input :price_a1, input_html: { min: '1', step: 'any' } %>
  <%= f.input :price_a2, input_html: { min: '1', step: 'any' } %>
  <%= f.input :illustration, as: :file %>

  <%= f.submit "Submit image", class: "btn btn-primary" %>
<% end %>
</div>
