<div class="theme-container">

  <div class="theme-box">
    <%= cl_image_tag @theme.illustration.key %>
  </div>

  <div class="theme-info">
    <div class="theme-info1">
    <h1><%= link_to @theme.name , poster_path%></h1>
    <h1> <%= @theme.description %></h1>
    <div class="theme-options">
       <% if current_user %>

        <%= link_to 'Edit', edit_theme_path(@theme) %>
        <%= link_to 'Delete image', theme_path(@theme),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>

      <%end %>
      </div>
    </div>
    <div class="theme-other">
        <h1> <%= @theme.information %> </h1>
        <% if @theme.pre_order=='yes' %>
              <h1>AVAILABLE ON PRE-ORDER</h1>

          <h1> <%= @theme.format %> - <%= humanized_money_with_symbol(@theme.price) %></h1>
          <% else %>
          <h1>No pre-order</h1>
      <% end %>
    </div>
  </div>
</div>
