<div class="theme-container">

  <div class="theme-box">
    <%= cl_image_tag @theme.illustration.key %>
  </div>

  <div class="theme-info">
    <div class="theme-info1">
    <h1><%= link_to @theme.title , poster_path%></h1>
    <h1> <%= @theme.description %></h1>
    <div class="theme-options">
       <% if current_user %>

        <%= link_to 'Edit', edit_theme_path(@theme) %>
        <%= link_to 'Delete image', theme_path(@theme),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>

      <%end %>
      </div>
    </div>
    <div class="theme-other">
        <h1> <%= @theme.information %> </h1>
        <% if @theme.pre_order=='yes' %>
              <h1>PRE ORDER</h1>

          <h1> <%= @theme.format %> - <%= @theme.price_a1 %>€
            <%= simple_form_for [@theme, @order_poster] do |f| %>
            <%= f.input :quantity, placeholder: '1', input_html: { value: '1', min: '1', step: 'any' } %>
            <%= f.submit "Add to card", class: 'btn-primary' %>
          <% end %></h1>
          <% else %>
          <h1>No pre-order</h1>
      <% end %>
    </div>
  </div>
</div>
