

<div class="box-home">

  <div class="photo-box">
    <%= image_tag("site5.png") %>
    <br> <%= link_to 'photo', photos_path %>
  </div>

  <div class="p-box">
    <div class="p1-box">
      <%= image_tag("site3.png") %>
      <%= link_to 'poster', posters_path  %>
    </div>
    <div class="p2-box">
      <h1>coming soon</h1>
    </div>
  </div>

  <div class="shop-box">
    <%= link_to 'shop', shop_path %>
  </div>

</div>






