 <% @project.librarys.each do |library| %>
    <li class="list-group-item"><%= link_to library.about, library_path(library) %>
       <%= cl_image_tag library.printing.key, height: 300, width: 400, crop: :fill %>
    </li>
    <%= link_to 'Edit', edit_library_path(library) %>
    <%= link_to 'Delete image', library_path(library),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
  <% end %>



 <% if current_user %>
    <%= link_to 'Add new image',  new_project_library_path(@project) %>
    <% end %>
<%= link_to 'Back', projects_path  %>
