<div class="wrap">
  <div class="wrap2">

<% @orders.each do |order|%>
  <% order.order_photos.each do |order_photo| %>
<div class="card-product">
  <div class="card-product-infos">
              <p><strong><%= order_photo.image.name%></strong> - <%= order_photo.image.information%>
              <span><p>
                <% if order_photo.formats == 'A1' %>
                  Price : <%= order_photo.image.price_a1%> EUR
                  <%else %>
                    Price : <%= order_photo.image.price_a2 %> EUR
                    <% end %>
                  </p></span>
              <span><p>Total quantity : <%= order_photo.quantity %> </p></span>
              <%= link_to "❌", order_photo_path(order_photo),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %></p>
  </div>
</div>
          <% end %>
    <% end %>

    <% @orders.each do |order|%>
  <% order.order_posters.each do |order_poster| %>
<div class="card-product">
  <div class="card-product-infos">
              <p><strong><%= order_poster.theme.title%></strong> - <%= order_poster.theme.information%>
              <span><p>Price : <%= order_poster.theme.price_a1 || order_poster.theme.price_a2 %> EUR || </p></span>
              <span><p>Total quantity : <%= order_poster.quantity %> </p></span>
              <%= link_to "❌", order_poster_path(order_poster),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %></p>
  </div>
</div>
          <% end %>
    <% end %>
</div>






<div class="boxx">
  Total to pay: <%= @total_orders %> EUR
  <%= link_to "Checkout", root_path, class:'btn btn-primary'%>
</div>
</div>
