<div class="container">
  <div class="row py-4">

    <div class="col">
      <h1>Checkout summary</h1>
<%= @card.each do |item| %>
  <%= item.creation.name %>
  <p>Amount: <%= humanized_money_with_symbol(item.creation.price) %></p>
<% end %>


      <p><%= humanized_money_with_symbol @total_orders %></strong></p>
      <button id="pay" class="btn btn-primary">Pay</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: <%= @card.checkout_session_id%>
          });
        });
      </script>
    </div>
  </div>
</div>
