

<ul>
  <% @photos.each do |photo| %>
    <li><%= link_to photo.category, photo_path(photo)  %></li>
    <%= link_to 'edit', edit_photo_path(photo)  %>
    <%= link_to 'delete', photo_path(photo),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
  <% end %>
</ul>

<%= link_to 'Add new category', new_photo_path %>

<%= link_to 'Back', root_path  %>


