

<div class="photo-container">
      <% @photos.each do |photo| %>
      <div class="p-container">
        <div class="photo-1">
        <%= cl_image_tag photo.photo.key, height: 200, width: 250 %>
      </div>
      <div class="photo-title">
        <%= link_to photo.category, photo_path(photo) %>
      </div>

      <div class="photo-options">
        <%= link_to 'edit', edit_photo_path(photo)  %>
        <%= link_to 'delete', photo_path(photo),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>
      </div>

    </div>
    <% end %>

  </div>


<div class="options">
  <%= link_to 'add new photo category', new_photo_path %>
  <%= link_to 'home', root_path  %>
</div>

