


<div class="photo-container2">
  <div class="photo-desciption">
    <h1> <%= @photo.description %> </h1>
  </div>

 <% @photo.images.each do |image| %>
 <div class="p-container">
  <div class="photo-show">
    <%= link_to cl_image_tag(image.image.key, height: 250, width: 200), image_path(image)%>
  </div>
    <div class="photo-title">
    <%= link_to image.name, image_path(image) %>
    </div>

     <% if current_user %>

      <div class="photo-options">
        <%= link_to 'Edit', edit_image_path(image) %>
        <%= link_to 'Delete image', image_path(image),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>
      </div>
      <% end %>
  </div>
  <% end %>

</div>

<div class="options">
   <% if current_user %>
    <%= link_to 'add new photo',  new_photo_image_path(@photo) %>
    <% end %>

</div>
