
<div class="form-photo">
  <h1>Edit image</h1>

  <%= simple_form_for [ @image ] do |f| %>
    <%= f.input :name %>
    <%= f.input :information %>
    <%= f.input :pre_order %>
    <%= f.input :image, as: :file %>
    <%= f.submit "Save changes", class: "btn btn-primary" %>
  <% end %>
</div>
