
<div class="form-photo">

  <h1>Add a new image</h1>

<%= simple_form_for [ @photo, @image ] do |f| %>
  <%= f.input :name %>
  <%= f.input :information %>
  <%= f.input :pre_order %>
  <%= f.input :price_a1 %>
  <%= f.input :price_a2 %>
   <%= f.input :image, as: :file %>
  <%= f.submit "Submit image", class: "btn btn-primary" %>
<% end %>
</div>

